<app-menu></app-menu>

<br>
<div align=center><h2>{{ ville }}</h2></div>
<div align=center><h2>Prix Total : {{ prixTotal }}€</h2></div>

<br><br>

<div class="container">
	<div align=left class="col-sm-6">
		<ul>
			<app-monument-list class="force-overflow" *ngFor="let monument of parcoursVisite; let i=index"
									[nomMonument]=monument.getNomMonument()
									[coutMonument] = monument.getCoutMonument()
									[dependanceMonument] = monument.getDependanceMonument()
									[openMonument] = monument.getOuvertMonument() (click)='switchOut(monument, i)'></app-monument-list>
		</ul>
	</div>
	<div align=left class="col-sm-6">
		<ul>
			<app-monument-list class="force-overflow" *ngFor="let monument of parcoursNonVisite; let i=index"
									[nomMonument]=monument.getNomMonument()
									[coutMonument] = monument.getCoutMonument()
									[dependanceMonument] = monument.getDependanceMonument()
									[openMonument] = monument.getOuvertMonument() (click)='switchIn(monument, i)'></app-monument-list>
		</ul>
	</div>
</div>

<br><br>

<div align=center>
	<button (click)=moveTo() class="btn btn-success">Valider</button>
</div>
