<app-menu></app-menu>

<form class="form-inline" (ngSubmit)="openDialog()" >

    <div class="container">
        <div class="row">
            <div class="form-group col-md-4">

                <mat-form-field>
                    <mat-label>Choix de la ville</mat-label>
                    <mat-select [(value)]="villeCtrl">
                        <mat-option *ngFor="let city of cities" [value]="city.value">
                            {{city.viewValue}}
                        </mat-option>
                    </mat-select>

                </mat-form-field>
            </div>

            <div class="form-group col-lg-4">
                <mat-form-field>
                    <mat-label>Date de début du parcours</mat-label>
                    <input matInput [matDatepicker]="pickerStartDate" [formControl]="dateDebutCtrl">
                    <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerStartDate></mat-datepicker>

                    <mat-error *ngIf="dateDebutCtrl.hasError('required')">
                        Veuillez choisir une date de début
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group col-lg-4">
                <mat-form-field>
                    <mat-label>Date de fin du parcours</mat-label>
                    <input matInput [matDatepicker]="pickerEndDate" [formControl]="dateFinCtrl">
                    <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerEndDate></mat-datepicker>

                    <mat-error *ngIf="dateFinCtrl.hasError('required')">
                        Veuillez choisir une date de fin
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="col-sm-12" align=center>
        <button mat-button [disabled]="!editForm.valid" type="button submit" class="btn btn-success">Valider</button>
    </div>


</form>
