<div class="row justify-content-center" style="display: grid">

<app-boutton-menu></app-boutton-menu>
<form class="form-inline" (ngSubmit)="onSubmit(f)" #f="ngForm">

    <mat-card class="accueil-card">

        <div class="row">
            <div class="form-group col-md-4">

                <mat-form-field>
                    <mat-label>Choix de la ville</mat-label>
                    <mat-select [(value)]="villeCtrl">
                        <mat-option *ngFor="let city of cities" [value]="city.value">
                            {{city.viewValue}}
                        </mat-option>
                    </mat-select>

                </mat-form-field>
            </div>

            <div class="form-group col-lg-4">
                <mat-form-field>
                    <mat-label>Date de début du parcours</mat-label>
                    <input matInput [matDatepicker]="pickerStartDate" [formControl]="dateDebutCtrl" >
                    <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerStartDate></mat-datepicker>

                    <mat-error *ngIf="dateDebutCtrl.hasError('required')">
                        Veuillez choisir une date de début
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group col-lg-4">
                <mat-form-field>
                    <mat-label>Date de fin du parcours</mat-label>
                    <input matInput [matDatepicker]="pickerEndDate" [formControl]="dateFinCtrl">
                    <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerEndDate></mat-datepicker>

                    <mat-error *ngIf="dateFinCtrl.hasError('required')">
                        Veuillez choisir une date de fin
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div style="text-align: center" class="col-sm-12">
            <button [disabled]="!editForm.valid" type="button submit" class="btn btn-success">Valider</button>

        </div>
    </mat-card>
</form>
</div>
