<app-boutton-menu></app-boutton-menu>
<div class="col-sm-12" style="text-align: center;">
	<h2>Parcours</h2>
	<h3>{{ ville }}</h3>
	<table style="margin: 0 auto; border: 1px black solid;">
		<td style="width:35px">Heure
			<tr>07h00</tr>
			<tr>08h00</tr>
			<tr>09h00</tr>
			<tr>10h00</tr>
			<tr>11h00</tr>
			<tr>12h00</tr>
			<tr>13h00</tr>
			<tr>14h00</tr>
			<tr>15h00</tr>
			<tr>16h00</tr>
			<tr>17h00</tr>
			<tr>18h00</tr>
			<tr>19h00</tr>
			<tr>20h00</tr>
		</td>
			<td *ngFor="let jour of date; let i = index">
				<h4>{{ date[i] }}</h4>
				<app-monument-card *ngFor="let monument of parcours[i]"
								[nomMonument] = monument.getNomMonument()
								[lieuMonument] = monument.getLieuMonument()
								[coutMonument] = monument.getCoutMonument()
								[debutMonument] = monument.getDebutMonument()
								[finMonument] = monument.getFinMonument()>

				</app-monument-card>
			</td>
	</table>
</div>
